.searchForm {
     position: relative;
     width: 300px;
     margin: 0 auto;
 }
 
.searchForm input, button {
     border: none;
     outline: none;
}

.searchForm input {
     width: 100%;
     height: 42px;
     padding-left: 13px;
}
       
.searchForm button {
     height: 20px;
    width: 20px;
     cursor: pointer;
     position: absolute;
	 
}



.searchBar {text-align: center;margin-right: 200px;}
.searchForm {
	height: 42px;
}

.searchBar input {
width: 300px;
border-radius: 42px;
/*border: 2px solid #324B4E;*/
background-color: rgba(0, 0, 0, 0.678);
transition: .3s linear;
float: right;
}


.searchBar input:focus {
width: 400px;
}

.searchBar button {
	
    background: url("../img/search.png") no-repeat center;
	background-size: contain;
	top: 10px;
    right: 8px;
}

/*.searchBar button:before{
content: "\f002";
font-family: FontAwesome;
color: rgba(255,255,255,0.85);
}*/


/* login/register button */
.dropdown {
  position: relative;
  display: inline-block;
	margin-right: 20px;
}

.dropbtn{
	height: 40px;
	width: 40px;
	background: url("../img/profile3.png") no-repeat center;
	background-size: contain;
	
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	right:0;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	cursor:pointer;
}


.dropdown-content a:hover {background-color: #F1F1F1}

.dropdown:hover .dropdown-content{
	display: block;
	text-align: center;
	background-color: #685EAE;
	box-shadow: 0 3px #A5A5A5;
	color: aliceblue;
}

.logReg {
	display: none;
}

.a_viewMore{
	float: right;
	margin: 0px 5px;
}

.div_movieItem{
	border-radius: 5px;
	box-shadow: 5px 5px 5px #9f9f9f80;
	height: 300px;
	width: 225px;
	background: #BBBBBB;
	margin: 20px 15px;
	float: left;
	background-image: url(../img/moviePhoto.png);
	background-size:100% 100%;
	cursor: pointer;
}

.div_title{
	height: auto;
	width: auto;
	float: left;
	margin: 0px 5px;
}

.div_movieSubInfo{
	height: auto;
	width: auto;
	float: right;
	margin: 0px 5px;
}

.div_movieImg{
	width: 100%;height: 75%;
}
.div_movieBottom{
	border-radius: 5px;
	color: #000000;
	width: 100%;
	height:25%; 
	background: #333333;
	color: #FFFFFF;
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;}

.a_movieItem{width: 100%;height: 100%;color: #000000;}
/*.a_movieItem:link{background: #f5f5f5;display: block}*/
.a_movieItem:visited{color: #000000;display: block}
.a_movieItem:hover{background: #555555;color: #000000;display: block;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}

.carousel-item img{
	border-radius: 5px;
	box-shadow: 10px 5px 5px #9f9f9f;
	display: inline-block;
    vertical-align: middle;
	width:70%;
	height: 500px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.carousel-inner{
	width:100%;
	height: 520px;
	text-align: center;
	background-color: #F7F7F7;
}

.carousel-inner:hover{
	opacity: 0.8;
	cursor: pointer;
}
.footer{
	background-color: #333333;
	color: white;
	min-height:40px;
	align-content: center;
}

.follow{
	margin-top:5px;
	margin-left:20px;
}
.copyRight{
	margin-top:5px;
	margin-right:20px;
}
.git{
	margin-top:2px;
}