@charset "utf-8";
/* CSS Document */
.searchForm {
     position: relative;
     width: 300px;
     margin: 0 auto;
 }
 
.searchForm input, button {
     border: none;
     outline: none;
}

.searchForm input {
     width: 100%;
     height: 42px;
     padding-left: 13px;
}
       
.searchForm button {
     height: 20px;
    width: 20px;
     cursor: pointer;
     position: absolute;
}



.searchBar {text-align: center;margin-right: 200px;}
.searchForm {
	height: 42px;
}

.searchBar input {
width: 300px;
border-radius: 42px;
/*border: 2px solid #324B4E;*/
background-color: rgba(255,255,255,0.20);
transition: .3s linear;
float: right;
}


.searchBar input:focus {
width: 400px;
}

.searchBar button {
    background: url("../img/search.png") no-repeat center;
	background-size: contain;
	top: 10px;
    right: 8px;
}




/* login/register button */
.dropdown {
  position: relative;
  display: inline-block;
	margin-right: 20px;
}

.dropbtn{
	height: 40px;
	width: 40px;
	background: url("../img/profile4.png") no-repeat center;
	background-size: contain;
	
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	right:0;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	cursor:pointer;
}


.dropdown-content a:hover {background-color: #F1F1F1}

.dropdown:hover .dropdown-content{
	display: block;
	text-align: center;
	background-color: #685EAE;
	box-shadow: 0 3px #A5A5A5;
	color: aliceblue;
}

.logReg {
	display: none;
}



#div_movie_img{
	height: 500px;
	width: 90%;
	background: #BBBBBB;
	margin: 0 auto;
	background-image: url(../img/moviePhoto.png);
	background-size:100% 100%;
	float: left;
}

.movieInfo{
	min-height: 400px;
	float: left;
	
}

#div_movie_title{
	font-size: 40px;
	width: auto;
	float: left;
}

#div_movie_rating{
	font-size: 38px;
	color: #EEDA3D;
	margin-left: 40px;
	float: left; 
	width: auto;
	height: inherit;
}

#div_movie_year{
	float: left;
	font-size: 20px;
	margin-top: 5px;
}

#div_movie_director{
	font-size: 20px;
	margin-top: 5px;
	margin-left: 50px;
	float: left;
}

#div_movie_actors{
	width: 100%;
	margin-top: 5px;
	font-size: 20px;
}

#div_movie_likeNum{
	width: 200px; 
	height: 50px;
	font-size: 18px;
	float: left;
	line-height: 50px;
	padding-left: 10px;
	color: #A6A5A5;
}

#button_movie_like{
	width: 50px; 
	height: 50px;
	float: left;
	background: url("../img/f-collect.png") no-repeat center;
	background-size: contain;
}

#button_movie_dislike
{
	width: 50px; 
	height: 50px;
	float: left;
	background: url("../img/f-collect2.png") no-repeat center;
	background-size: contain;
}

#button_movie_like:hover{
	opacity: 0.8;
}

#button_movie_dislike:hover{
	opacity: 0.8;
}

.commentArea{
	width: 100%;
	margin-top: 60px;
	padding: 50px;
	background: #5ED8B8;
	float: left;
}

.profileImg{
	width: 45px;
	height: 45px;
	background: url("../img/profile2.png") no-repeat center;
	background-size: contain;
	float: left;
	width: 5%;

}

#commentContent{
	width: 500px;
   border-radius: 42px;
   height: 42px;
     padding-left: 13px;
	float: left;
   
}

#sendCommentBtn{
	width: 100px;
	height: 40px;
	border: 2px solid #5A9CF1;
	border-radius: 42px;
	background-color: #5A9CF1;
	float: left;
}

#sendCommentBtn:hover{
	background-color:#3663FE;
}

.showComment{
	float: left;
	width: 100%;
	height: auto;
	margin-top: 20px;
}


.textInfo{
	margin-bottom: 10px;
	width: 1auto;
	height: auto;
	float: left;
	width: 95%;
	
}

.AccountName{
	font-size: 15px;
	color: #6776F5;
	height: 20px;
	width: 100%;
	line-height: 20px;
	float: left;
}



.Text{
	width: 95%;
	font-size: 20px;
	border-bottom:2px solid #B8B8B8;
	padding-bottom: 10px;
	padding-left: 5px;
}

.btn-close{
	text-align: right;
	cursor: pointer;
}

.comment-item{
	padding-top: 10px;
	width: 100%;
	opacity: 0.8;
}

#div_movie_img{
	border-radius: 5px;
	box-shadow: 10px 5px 5px #9f9f9f;
}