@charset "utf-8";
/* CSS Document */

#div_movie_img{
	height: 480px;
	width: 360px;
	background: #BBBBBB;
	margin: 0 auto;
	background-image: url(../img/moviePhoto.png);
	background-size:100% 100%;
}

.div_string{
	width: 100%;
	height: 80px;
	line-height: 80px;
	margin: 0px 10px;
}